fastapi[standard]
langchain-core
langchain-community
langchain
langgraph
langchain-tavily
tavily-python
sqlalchemy
langgraph-checkpoint-sqlite
langchain-google-genai
numexpr
langchain-chroma
pypdf
docx2txt